__pycache__
run data
user's guides
Folder Name
CHIMOUT.DAT
chimplot.lab
chimplot.tab
CHIMPLOT.DAT
CHIMRUN.DAT
CHIMRUN-.DAT
CHIMRUN.SA2
CHIMRUN.SAV
CHIMRUN.txt
CHIMRUN0.DAT
CHIMRUN1.DAT
CHIMRUN2.DAT
CHIMRUN3.DAT
CHIMRUN4.DAT
CHIMRUN5.DAT
CHIMRUN-HK.DAT
chim-xpt.exe
chim-xpt.zip
gas.sto
geocal-xpt.exe
GEOUT.DAT
look-up-table.txt
minox.dat
mintab.par
mintab2.par
mintab-xpt.exe
n
plotall.lab
plotall.tab
Skip_Species.txt
SOLOUT.DAT
SOLPLOT.DAT
solprint-xpt.exe
SOLRUN.DAT
soltherm.xpt
soltherm-old.xpt
solveq-xpt.exe
suppress list.txt
suppress list.xlsx
Unsupressing H2BO3.png
water-water-mixing17may22-h2o5.5 moles.rar
zeolite only suppress list.txt